
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Student</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
<div class="nav-wrapper">
       <nav class="nav-menu">
          <ul class="clearfix">
             <li><a href="/user_data">User data</a></li>
             <li><a href="/student_data">Student data</a></li>
			 <li><a href="/enrollment">Enrollment</a></li>
			 <li>Grades</li>
          </ul>
       </nav>
    </div>

	<div class="container">
      <div class="page-header" courseid="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Student</h1>
<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Student Profile</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>Group:</b></td>
						<td th:text="${ studentById.groupId }">groupId</td>
					</tr>
					<tr>
						<td><b>Student Identifier:</b></td>
						<td th:text="${ studentById.studentIdentifier }">studentIdentifier</td>
					</tr>
					
					
<!-- 				<td>
					<a class="btn btn-warning btn-xs" href="admin/movieEdit.html" th1:href="@{/admin/movieEdit(courseid=${movie.courseid})}">Edit</a>
					<a class="btn btn-danger btn-xs" href="admin/movieDelete.html" th1:href="@{/admin/movieDelete(courseid=${movie.courseid})}">Delete</a>
				</td>
 -->			
				</tbody>
				
			</table>
			
			<form   th:object="${changeStudent}" method="post">
			<div class="col-sm-12">
			
				<label>Group:</label>
				<input placeholder="Group" name="groupId"/>
			</div>
			<div class="col-sm-12">
			
				<label>Student Identifier</label>
				<input placeholder="Student ID" name="studentIdentifier"/>
			</div>
			
			<button type="submit" class = "btn btn-primary">Change</button>
			</form>
			
				
          </div>
        </div>
        
      </div>
    </div>

</body>
</html>